In [ ]:
#breseq output needed = index.html
#for x in breseq_indv_AZ20/*; do d=$(basename "$x"); cp $x/output/index.html breseq_summary_htmls/$d.html; done

In [1]:
import pandas as pd
import numpy as np
import glob, os
#from bs4 import BeautifulSoup

In [16]:
path = r'./'
all_files = glob.glob("*.html")

In [ ]:
#ipython on Barnacle
for root, dirs, files in os.walk("breseq_indv_AZ20/", topdown=False): 
    for name in files: 
        if name == "index.html": 
            files_all.append(os.path.join(root, name))

In [17]:
li = []

In [19]:
for filename in all_files:
    breseq = pd.read_html(filename, header=1)
    df = breseq[0]
    df["identification"] = filename
    li.append(df)
#takes ~5 min

In [ ]:
for filename in file_list:
    snippy = pd.read_csv(filename, sep='\t')
    snippy["identification"] = filename
    li.append(df)
#takes ~5 min

In [20]:
combo = pd.concat(li, sort=True)
combo.shape
#takes 10-15 min

(20758, 8)

In [21]:
combo.head()

,annotation,description,evidence,gene,identification,mutation,position,seq id
0,intergenic (–/–),–/–,RA,– / –,./25N_Month1_24_S188.html,G→A,128738,1
1,intergenic (–/–),–/–,RA,– / –,./25N_Month1_24_S188.html,A→G,476014,1
2,intergenic (–/–),–/–,RA,– / –,./25N_Month1_24_S188.html,2 bp→CG,846372,1
3,intergenic (–/–),–/–,RA,– / –,./25N_Month1_24_S188.html,G→A,846381,1
4,intergenic (–/–),–/–,RA,– / –,./25N_Month1_24_S188.html,A→G,846423,1

In [22]:
combo["file"] = combo["identification"].str.split("/").str[1]

In [24]:
combo["sample"] = combo["file"].str.split(".").str[0]

In [26]:
new = combo["sample"].str.split("_", n=3, expand=True)
new['id'] = new[0].astype(str)+"_"+new[1].astype(str)+"_"+new[2].astype(str)
new.head()

     0       1   2     3             id
0  25N  Month1  24  S188  25N_Month1_24
1  25N  Month1  24  S188  25N_Month1_24
2  25N  Month1  24  S188  25N_Month1_24
3  25N  Month1  24  S188  25N_Month1_24
4  25N  Month1  24  S188  25N_Month1_24

In [27]:
d28N = new[new[0] == '28N']
d28N_M6 = d28N[d28N[1] == 'Month6']
d28N_M6[2].unique()

array(['11', '1', '12', '16', '9', '18', '4', '20', '19', '8', '5', '24',
       '17', '21', '22', '15', '3', '7', '2', '10', '6', '23', '14'],
      dtype=object)

In [28]:
combo['sample_id'] = new['id']

In [29]:
combo.head()

,annotation,description,evidence,gene,identification,mutation,position,seq id,file,sample,simple_id
0,intergenic (–/–),–/–,RA,– / –,./25N_Month1_24_S188.html,G→A,128738,1,25N_Month1_24_S188.html,25N_Month1_24_S188,25N_Month1_24
1,intergenic (–/–),–/–,RA,– / –,./25N_Month1_24_S188.html,A→G,476014,1,25N_Month1_24_S188.html,25N_Month1_24_S188,25N_Month1_24
2,intergenic (–/–),–/–,RA,– / –,./25N_Month1_24_S188.html,2 bp→CG,846372,1,25N_Month1_24_S188.html,25N_Month1_24_S188,25N_Month1_24
3,intergenic (–/–),–/–,RA,– / –,./25N_Month1_24_S188.html,G→A,846381,1,25N_Month1_24_S188.html,25N_Month1_24_S188,25N_Month1_24
4,intergenic (–/–),–/–,RA,– / –,./25N_Month1_24_S188.html,A→G,846423,1,25N_Month1_24_S188.html,25N_Month1_24_S188,25N_Month1_24

In [37]:
combo2 = combo.drop(columns=['identification', 'file'])

In [38]:
combo2.set_index('sample')

,annotation,description,evidence,gene,mutation,position,seq id,simple_id
sample,,,,,,,,
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,G→A,128738,1,25N_Month1_24
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,A→G,476014,1,25N_Month1_24
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,2 bp→CG,846372,1,25N_Month1_24
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,G→A,846381,1,25N_Month1_24
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,A→G,846423,1,25N_Month1_24
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,A→T,1336012,1,25N_Month1_24
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,C→T,1934985,1,25N_Month1_24
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,G→A,1935015,1,25N_Month1_24
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,G→A,2656900,1,25N_Month1_24
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,G→T,3086901,1,25N_Month1_24
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,C→T,3432490,1,25N_Month1_24
25N_Month1_24_S188,intergenic (–/–),–/–,RA,– / –,2 bp→C,4369311,1,25N_Month1_24
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,G→A,128738,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,A→G,476014,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,C→T,689328,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,2 bp→CG,846372,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,G→A,846381,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,A→T,1336012,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,G→A,1345364,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,C→T,1934985,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,G→A,1935015,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,G→C,2056042,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,C→T,2303378,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,A→T,2563551,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,A→C,2761248,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,G→T,3086901,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,2 bp→C,4369311,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,C→G,4941088,1,28N_Month3_3
28N_Month3_3_S14,intergenic (–/–),–/–,RA,– / –,C→T,5029582,1,28N_Month3_3
23R_Month6_10_S515,intergenic (–/–),–/–,RA,– / –,G→A,128738,1,23R_Month6_10
...,...,...,...,...,...,...,...,...
27R_Month3_2_pos_S1375,intergenic (–/–),–/–,RA,– / –,C→T,3694822,1,27R_Month3_2
27R_Month3_2_pos_S1375,intergenic (–/–),–/–,RA,– / –,G→A,3812640,1,27R_Month3_2
27R_Month3_2_pos_S1375,intergenic (–/–),–/–,RA,– / –,G→A,3828946,1,27R_Month3_2
27R_Month3_2_pos_S1375,intergenic (–/–),–/–,RA,– / –,G→A,4256961,1,27R_Month3_2
27R_Month3_2_pos_S1375,intergenic (–/–),–/–,RA,– / –,C→T,4975879,1,27R_Month3_2
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,G→A,128738,1,25N_Day7_15
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,A→G,476014,1,25N_Day7_15
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,2 bp→CG,846372,1,25N_Day7_15
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,G→A,846381,1,25N_Day7_15
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,A→G,846423,1,25N_Day7_15
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,A→T,1336012,1,25N_Day7_15
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,C→T,1934985,1,25N_Day7_15
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,G→A,1935015,1,25N_Day7_15
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,G→A,2656900,1,25N_Day7_15
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,G→T,3086901,1,25N_Day7_15
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,C→T,3432490,1,25N_Day7_15
25N_Day7_15_S1344,intergenic (–/–),–/–,RA,– / –,2 bp→C,4369311,1,25N_Day7_15
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,G→A,128738,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,A→G,476014,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,2 bp→CG,846372,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,G→A,846381,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,A→G,846423,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,A→T,1336012,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,C→T,1934985,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,G→A,1935015,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,G→A,2656900,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,G→T,3086901,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,C→T,3432490,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,A→G,3945746,1,25L_Day7_11
25L_Day7_11_S827,intergenic (–/–),–/–,RA,– / –,2 bp→C,4369311,1,25L_Day7_11

In [39]:
combo2.columns

Index(['annotation', 'description', 'evidence', 'gene', 'mutation', 'position',
       'seq id', 'sample', 'simple_id'],
      dtype='object')

In [41]:
combo2.rename(columns={'seq id':'seq_id'}, inplace=True)
combo2.head()

,annotation,description,evidence,gene,mutation,position,seq id,sample,simple_id
0,intergenic (–/–),–/–,RA,– / –,G→A,128738,1,25N_Month1_24_S188,25N_Month1_24
1,intergenic (–/–),–/–,RA,– / –,A→G,476014,1,25N_Month1_24_S188,25N_Month1_24
2,intergenic (–/–),–/–,RA,– / –,2 bp→CG,846372,1,25N_Month1_24_S188,25N_Month1_24
3,intergenic (–/–),–/–,RA,– / –,G→A,846381,1,25N_Month1_24_S188,25N_Month1_24
4,intergenic (–/–),–/–,RA,– / –,A→G,846423,1,25N_Month1_24_S188,25N_Month1_24

In [42]:
combo2.to_csv("./breseq_mutations.csv")

In [43]:
metadata = pd.read_csv('../adaptation_master_metadata.txt', sep='\t', index_col=0)
metadata.head()

,box_id,cage_id,collection_timepoint,collection_timestamp,date_colonized,diet,elevation,elevation_units,empo_1,empo_2,...,zarrinparlab_quant_ng_ul,mouse,dam,sire,date_collected,bacteria_strain,extraction_method,extraction_kit,run,plate
sample_name,,,,,,,,,,,,,,,,,,,,,
12986.23B.Day7.1,10.0,23.0,Day7,2017-07-19 10:00:00,7/12/17 0:00,RC,193,meters,Host-associated,Animal,...,78.0,23B,A1,A,2017-07-19,AZ20,filter,Qiagen UltraClean,1,NaN
12986.23B.Day7.10,10.0,23.0,Day7,2017-07-19 10:00:00,7/12/17 0:00,RC,193,meters,Host-associated,Animal,...,53.3,23B,A1,A,2017-07-19,AZ20,filter,Qiagen UltraClean,1,NaN
12986.23B.Day7.11,10.0,23.0,Day7,2017-07-19 10:00:00,7/12/17 0:00,RC,193,meters,Host-associated,Animal,...,80.6,23B,A1,A,2017-07-19,AZ20,filter,Qiagen UltraClean,1,NaN
12986.23B.Day7.12,10.0,23.0,Day7,2017-07-19 10:00:00,7/12/17 0:00,RC,193,meters,Host-associated,Animal,...,49.1,23B,A1,A,2017-07-19,AZ20,filter,Qiagen UltraClean,1,NaN
12986.23B.Day7.13,14.0,23.0,Day7,2017-07-19 10:00:00,7/12/17 0:00,RC,193,meters,Host-associated,Animal,...,48.6,23B,A1,A,2017-07-19,AZ20,filter,Qiagen UltraClean,1,NaN

In [44]:
metadata.columns

Index(['box_id', 'cage_id', 'collection_timepoint', 'collection_timestamp',
       'date_colonized', 'diet', 'elevation', 'elevation_units', 'empo_1',
       'empo_2', 'empo_3', 'env_biome', 'env_feature', 'env_material',
       'env_package', 'geo_loc_name', 'host_age', 'host_age_units',
       'host_body_habitat', 'host_body_product', 'host_body_site',
       'host_common_name', 'host_scientific_name', 'host_subject_id',
       'host_taxid', 'host_weight', 'host_weight_units', 'iacuc_institute',
       'iacuc_protocol_id', 'isolate_number', 'latitude', 'latitude_units',
       'life_stage', 'longitude', 'longitude_units', 'mouse_dob', 'mouse_id',
       'mouse_strain', 'qiita_study_id', 'sample_type', 'scientific_name',
       'sex', 'taxon_id', 'tube_id', 'zarrinparlab_quant_ng_ul', 'mouse',
       'dam', 'sire', 'date_collected', 'bacteria_strain', 'extraction_method',
       'extraction_kit', 'run', 'plate'],
      dtype='object')

In [45]:
metadata['breseq_id'] = metadata['mouse_id'].astype(str)+"_"+ metadata['collection_timepoint'].astype(str)+"_"+ metadata['isolate_number'].astype(str)

In [46]:
metadata.head()

,box_id,cage_id,collection_timepoint,collection_timestamp,date_colonized,diet,elevation,elevation_units,empo_1,empo_2,...,mouse,dam,sire,date_collected,bacteria_strain,extraction_method,extraction_kit,run,plate,breseq_id
sample_name,,,,,,,,,,,,,,,,,,,,,
12986.23B.Day7.1,10.0,23.0,Day7,2017-07-19 10:00:00,7/12/17 0:00,RC,193,meters,Host-associated,Animal,...,23B,A1,A,2017-07-19,AZ20,filter,Qiagen UltraClean,1,NaN,23B_Day7_1
12986.23B.Day7.10,10.0,23.0,Day7,2017-07-19 10:00:00,7/12/17 0:00,RC,193,meters,Host-associated,Animal,...,23B,A1,A,2017-07-19,AZ20,filter,Qiagen UltraClean,1,NaN,23B_Day7_10
12986.23B.Day7.11,10.0,23.0,Day7,2017-07-19 10:00:00,7/12/17 0:00,RC,193,meters,Host-associated,Animal,...,23B,A1,A,2017-07-19,AZ20,filter,Qiagen UltraClean,1,NaN,23B_Day7_11
12986.23B.Day7.12,10.0,23.0,Day7,2017-07-19 10:00:00,7/12/17 0:00,RC,193,meters,Host-associated,Animal,...,23B,A1,A,2017-07-19,AZ20,filter,Qiagen UltraClean,1,NaN,23B_Day7_12
12986.23B.Day7.13,14.0,23.0,Day7,2017-07-19 10:00:00,7/12/17 0:00,RC,193,meters,Host-associated,Animal,...,23B,A1,A,2017-07-19,AZ20,filter,Qiagen UltraClean,1,NaN,23B_Day7_13

In [47]:
allinfo = pd.merge(combo2, metadata, left_on='simple_id', right_on='breseq_id')
allinfo.head()

,annotation,description,evidence,gene,mutation,position,seq id,sample,simple_id,box_id,...,mouse,dam,sire,date_collected,bacteria_strain,extraction_method,extraction_kit,run,plate,breseq_id
0,intergenic (–/–),–/–,RA,– / –,G→A,128738,1,25N_Month1_24_S188,25N_Month1_24,NaN,...,25N,A2,B,2017-07-15,AZ20,magnetic bead,Thermo CORE,2,2.0,25N_Month1_24
1,intergenic (–/–),–/–,RA,– / –,A→G,476014,1,25N_Month1_24_S188,25N_Month1_24,NaN,...,25N,A2,B,2017-07-15,AZ20,magnetic bead,Thermo CORE,2,2.0,25N_Month1_24
2,intergenic (–/–),–/–,RA,– / –,2 bp→CG,846372,1,25N_Month1_24_S188,25N_Month1_24,NaN,...,25N,A2,B,2017-07-15,AZ20,magnetic bead,Thermo CORE,2,2.0,25N_Month1_24
3,intergenic (–/–),–/–,RA,– / –,G→A,846381,1,25N_Month1_24_S188,25N_Month1_24,NaN,...,25N,A2,B,2017-07-15,AZ20,magnetic bead,Thermo CORE,2,2.0,25N_Month1_24
4,intergenic (–/–),–/–,RA,– / –,A→G,846423,1,25N_Month1_24_S188,25N_Month1_24,NaN,...,25N,A2,B,2017-07-15,AZ20,magnetic bead,Thermo CORE,2,2.0,25N_Month1_24

In [49]:
allinfo.to_csv("./breseq_mutations_with_metadata.txt", sep='\t')

In [ ]:
allinfo.to_csv("./breseq_mutations_with_metadata.csv")

In [ ]:
snippy_AZ51_all_snps_updated.csv
AZ51_breseq_mutations_updated.csv