In [ ]:
# In a qiime2-2022.2 environment
# trees were made by iqtree and rooted by gavage date (start date)

In [ ]:
qiime tools import \
  --input-path AZ20_datetree.nwk \
  --output-path AZ20_date_rooted_tree.qza \
  --type 'Phylogeny[Rooted]'

qiime tools import \
  --input-path AZ51_datetree.nwk \
  --output-path AZ51_date_rooted_tree.qza \
  --type 'Phylogeny[Rooted]'

In [1]:
import pandas as pd

In [21]:
AZ51_aln = pd.read_csv('../AZ51_aln_names.txt', sep='\t', header=None)
AZ51_aln.rename(columns={0:'feature-id'}, inplace=True)
AZ51_aln[['mouse', 'timepoint', 'isolate', 'sample', 'bacteria', 'other']] = AZ51_aln['feature-id'].str.split('_', n=5, expand=True)
AZ51_aln.head()

                     feature-id mouse timepoint isolate sample bacteria other
0  41L_Month3_14_S1436_AZ51_mut   41L    Month3      14  S1436     AZ51   mut
1      43B_Day7_4_S127_AZ51_mut   43B      Day7       4   S127     AZ51   mut
2  44R_Month6_13_S1718_AZ51_mut   44R    Month6      13  S1718     AZ51   mut
3   43R_Month6_21_S646_AZ51_mut   43R    Month6      21   S646     AZ51   mut
4   45N_Month6_15_S306_AZ51_mut   45N    Month6      15   S306     AZ51   mut

In [27]:
AZ51_aln['short-id'] = AZ51_aln['mouse'].astype(str)+"_"+AZ51_aln['timepoint'].astype(str)+"_"+AZ51_aln['isolate'].astype(str)
AZ51_aln.head()

,feature-id,mouse,timepoint,isolate,sample,bacteria,other,sample-id,short-id
0,41L_Month3_14_S1436_AZ51_mut,41L,Month3,14,S1436,AZ51,mut,41L_Month3_14,41L_Month3_14
1,43B_Day7_4_S127_AZ51_mut,43B,Day7,4,S127,AZ51,mut,43B_Day7_4,43B_Day7_4
2,44R_Month6_13_S1718_AZ51_mut,44R,Month6,13,S1718,AZ51,mut,44R_Month6_13,44R_Month6_13
3,43R_Month6_21_S646_AZ51_mut,43R,Month6,21,S646,AZ51,mut,43R_Month6_21,43R_Month6_21
4,45N_Month6_15_S306_AZ51_mut,45N,Month6,15,S306,AZ51,mut,45N_Month6_15,45N_Month6_15

In [28]:
metadata = pd.read_csv('../../../metadata.txt', sep='\t')
metadata.rename(columns={'sample-id':'short-id'}, inplace=True)
metadata.head()

,short-id,qiita_sample_name,box_id,cage_id,collection_timepoint,collection_timestamp,date_colonized,diet,elevation,elevation_units,...,mouse,dam,sire,date_collected,bacteria_strain,extraction_method,extraction_kit,run,plate,closest_collection_date
0,23LL_Day3_1,12986.23LL.Day3.1,NaN,23.0,Day3,7/15/17 10:00,7/12/17,RC,193.0,meters,...,23LL,A1,A,7/15/17,AZ20,magnetic bead,Thermo CORE,2.0,1.0,7/15/17 10:00
1,23LL_Day3_10,12986.23LL.Day3.10,NaN,23.0,Day3,7/15/17 10:00,7/12/17,RC,193.0,meters,...,23LL,A1,A,7/15/17,AZ20,magnetic bead,Thermo CORE,2.0,1.0,7/15/17 10:00
2,23LL_Day3_11,12986.23LL.Day3.11,NaN,23.0,Day3,7/15/17 10:00,7/12/17,RC,193.0,meters,...,23LL,A1,A,7/15/17,AZ20,magnetic bead,Thermo CORE,2.0,1.0,7/15/17 10:00
3,23LL_Day3_12,12986.23LL.Day3.12,NaN,23.0,Day3,7/15/17 10:00,7/12/17,RC,193.0,meters,...,23LL,A1,A,7/15/17,AZ20,magnetic bead,Thermo CORE,2.0,1.0,7/15/17 10:00
4,23LL_Day3_13,12986.23LL.Day3.13,NaN,23.0,Day3,7/15/17 10:00,7/12/17,RC,193.0,meters,...,23LL,A1,A,7/15/17,AZ20,magnetic bead,Thermo CORE,2.0,1.0,7/15/17 10:00

In [30]:
fmd = pd.merge(AZ51_aln[['feature-id', 'short-id']], metadata, left_on='short-id', right_on='short-id')
fmd2 = fmd.set_index('feature-id')
fmd2.head()

,short-id,qiita_sample_name,box_id,cage_id,collection_timepoint,collection_timestamp,date_colonized,diet,elevation,elevation_units,...,mouse,dam,sire,date_collected,bacteria_strain,extraction_method,extraction_kit,run,plate,closest_collection_date
feature-id,,,,,,,,,,,,,,,,,,,,,
41L_Month3_14_S1436_AZ51_mut,41L_Month3_14,12986.41L.Month3.14,NaN,41.0,Month3,12/12/17 10:00,9/13/17,RC,193.0,meters,...,41L,A1,A,12/12/17,AZ51,magnetic bead,Thermo CORE,2.0,10.0,12/12/17 10:00
43B_Day7_4_S127_AZ51_mut,43B_Day7_4,12986.43B.Day7.4,NaN,43.0,Day7,9/20/17 10:00,9/13/17,RC,193.0,meters,...,43B,B1,B,9/20/17,AZ51,magnetic bead,Thermo CORE,2.0,6.0,9/19/17 10:00
44R_Month6_13_S1718_AZ51_mut,44R_Month6_13,12986.44R.Month6.13,NaN,44.0,Month6,3/13/18 10:00,9/13/17,RC,193.0,meters,...,44R,A2,A,3/13/18,AZ51,magnetic bead,Thermo CORE,2.0,19.0,3/20/18 10:00
43R_Month6_21_S646_AZ51_mut,43R_Month6_21,12986.43R.Month6.21,NaN,43.0,Month6,3/13/18 10:00,9/13/17,RC,193.0,meters,...,43R,B1,B,3/13/18,AZ51,magnetic bead,Thermo CORE,2.0,18.0,3/20/18 10:00
45N_Month6_15_S306_AZ51_mut,45N_Month6_15,12986.45N.Month6.15,NaN,45.0,Month6,3/13/18 10:00,9/13/17,RC,193.0,meters,...,45N,B1,B,3/13/18,AZ51,magnetic bead,Thermo CORE,2.0,20.0,3/20/18 10:00

In [31]:
#fmd2.to_csv('AZ51_feature_metadata.tsv', sep='\t')

In [32]:
AZ20_aln = pd.read_csv('../AZ20_aln_names.txt', sep='\t', header=None)
AZ20_aln.rename(columns={0:'feature-id'}, inplace=True)
AZ20_aln[['mouse', 'timepoint', 'isolate', 'sample', 'bacteria', 'other']] = AZ20_aln['feature-id'].str.split('_', n=5, expand=True)
AZ20_aln.head()

                    feature-id mouse timepoint isolate sample bacteria other
0  29R_Month3_14_S435_AZ20_mut   29R    Month3      14   S435     AZ20   mut
1   26B_Month6_7_S342_AZ20_mut   26B    Month6       7   S342     AZ20   mut
2    23B_Month6_2_S48_AZ20_mut   23B    Month6       2    S48     AZ20   mut
3   26N_Month3_11_S67_AZ20_mut   26N    Month3      11    S67     AZ20   mut
4    27R_Day7_3_S1029_AZ20_mut   27R      Day7       3  S1029     AZ20   mut

In [33]:
AZ20_aln['short-id'] = AZ20_aln['mouse'].astype(str)+"_"+AZ20_aln['timepoint'].astype(str)+"_"+AZ20_aln['isolate'].astype(str)
AZ20_aln.head()

,feature-id,mouse,timepoint,isolate,sample,bacteria,other,short-id
0,29R_Month3_14_S435_AZ20_mut,29R,Month3,14,S435,AZ20,mut,29R_Month3_14
1,26B_Month6_7_S342_AZ20_mut,26B,Month6,7,S342,AZ20,mut,26B_Month6_7
2,23B_Month6_2_S48_AZ20_mut,23B,Month6,2,S48,AZ20,mut,23B_Month6_2
3,26N_Month3_11_S67_AZ20_mut,26N,Month3,11,S67,AZ20,mut,26N_Month3_11
4,27R_Day7_3_S1029_AZ20_mut,27R,Day7,3,S1029,AZ20,mut,27R_Day7_3

In [35]:
AZ20_aln.shape

(1211, 8)

In [34]:
metadata = pd.read_csv('../../../metadata.txt', sep='\t')
metadata.rename(columns={'sample-id':'short-id'}, inplace=True)
metadata.head()

,short-id,qiita_sample_name,box_id,cage_id,collection_timepoint,collection_timestamp,date_colonized,diet,elevation,elevation_units,...,mouse,dam,sire,date_collected,bacteria_strain,extraction_method,extraction_kit,run,plate,closest_collection_date
0,23LL_Day3_1,12986.23LL.Day3.1,NaN,23.0,Day3,7/15/17 10:00,7/12/17,RC,193.0,meters,...,23LL,A1,A,7/15/17,AZ20,magnetic bead,Thermo CORE,2.0,1.0,7/15/17 10:00
1,23LL_Day3_10,12986.23LL.Day3.10,NaN,23.0,Day3,7/15/17 10:00,7/12/17,RC,193.0,meters,...,23LL,A1,A,7/15/17,AZ20,magnetic bead,Thermo CORE,2.0,1.0,7/15/17 10:00
2,23LL_Day3_11,12986.23LL.Day3.11,NaN,23.0,Day3,7/15/17 10:00,7/12/17,RC,193.0,meters,...,23LL,A1,A,7/15/17,AZ20,magnetic bead,Thermo CORE,2.0,1.0,7/15/17 10:00
3,23LL_Day3_12,12986.23LL.Day3.12,NaN,23.0,Day3,7/15/17 10:00,7/12/17,RC,193.0,meters,...,23LL,A1,A,7/15/17,AZ20,magnetic bead,Thermo CORE,2.0,1.0,7/15/17 10:00
4,23LL_Day3_13,12986.23LL.Day3.13,NaN,23.0,Day3,7/15/17 10:00,7/12/17,RC,193.0,meters,...,23LL,A1,A,7/15/17,AZ20,magnetic bead,Thermo CORE,2.0,1.0,7/15/17 10:00

In [36]:
fmd = pd.merge(AZ20_aln[['feature-id', 'short-id']], metadata, left_on='short-id', right_on='short-id')
fmd2 = fmd.set_index('feature-id')
fmd2.head()

,short-id,qiita_sample_name,box_id,cage_id,collection_timepoint,collection_timestamp,date_colonized,diet,elevation,elevation_units,...,mouse,dam,sire,date_collected,bacteria_strain,extraction_method,extraction_kit,run,plate,closest_collection_date
feature-id,,,,,,,,,,,,,,,,,,,,,
29R_Month3_14_S435_AZ20_mut,29R_Month3_14,12986.29R.Month3.14,5.0,29.0,Month3,10/17/17 10:00,7/12/17 0:00,RC,193.0,meters,...,29R,B2,B,10/17/17,AZ20,filter,Qiagen UltraClean,1.0,NaN,10/17/17 10:00
26B_Month6_7_S342_AZ20_mut,26B_Month6_7,12986.26B.Month6.7,7.0,26.0,Month6,1/16/18 10:00,7/12/17 0:00,RC,193.0,meters,...,26B,A2,A,1/16/18,AZ20,filter,Qiagen UltraClean,1.0,NaN,1/16/18 10:00
23B_Month6_2_S48_AZ20_mut,23B_Month6_2,12986.23B.Month6.2,6.0,23.0,Month6,1/16/18 10:00,7/12/17 0:00,RC,193.0,meters,...,23B,A1,A,1/16/18,AZ20,filter,Qiagen UltraClean,1.0,NaN,1/16/18 10:00
26N_Month3_11_S67_AZ20_mut,26N_Month3_11,12986.26N.Month3.11,1.0,26.0,Month3,10/17/17 10:00,7/12/17 0:00,RC,193.0,meters,...,26N,A2,A,10/17/17,AZ20,filter,Qiagen UltraClean,1.0,NaN,10/17/17 10:00
27R_Day7_3_S1029_AZ20_mut,27R_Day7_3,12986.27R.Day7.3,12.0,27.0,Day7,7/19/17 10:00,7/12/17 0:00,RC,193.0,meters,...,27R,B1,B,7/19/17,AZ20,filter,Qiagen UltraClean,1.0,NaN,7/19/17 10:00

In [37]:
fmd2.shape

(1210, 56)

In [38]:
#fmd2.to_csv('AZ20_feature_metadata.tsv', sep='\t')

In [ ]:
qiime tools import \
  --input-path AZ20_feature_metadata.tsv \
  --output-path AZ20_feature_metadata.qza \
  --type 'TSVTaxonomyFormat'

qiime tools import \
  --input-path AZ51_feature_metadata.tsv \
  --output-path AZ51_feature_metadata.qza \
  --type 'TSVTaxonomyFormat'

In [ ]:
qiime empress tree-plot \
    --i-tree AZ20_date_rooted_tree.qza \
    --m-feature-metadata-file AZ20_feature_metadata.tsv \
    --o-visualization AZ20-tree-viz.qzv

qiime empress tree-plot \
    --i-tree AZ51_date_rooted_tree.qza \
    --m-feature-metadata-file AZ51_feature_md.qza \
    --o-visualization AZ51-tree-viz.qzv

In [ ]:
qiime empress community-plot \
    --i-tree AZ51_date_rooted_tree.qza \
    --i-feature-table AZ51-feature-table.qza \
    --m-sample-metadata-file AZ51_feature_metadata.tsv \
    --m-feature-metadata-file AZ51_taxonomy.qza \
    --i-pcoa AZ51_jaccard_pcoa.qza \
    --o-visualization AZ51-community-tree-viz.qzv

### BOTH

In [ ]:
qiime tools import \
  --input-path both_date_tree.nwk \
  --output-path both_datetree_rooted_tree.qza \
  --type 'Phylogeny[Rooted]'

In [3]:
AZ20 = pd.read_csv('AZ20_feature_metadata.tsv', sep='\t', index_col=0)
AZ51 = pd.read_csv('AZ51_feature_metadata.tsv', sep='\t', index_col=0)

In [4]:
AZ20.head()

,short-id,qiita_sample_name,box_id,cage_id,collection_timepoint,collection_timestamp,date_colonized,diet,host_age,host_subject_id,...,mouse_id,sex,mouse,dam,sire,date_collected,bacteria_strain,extraction_method,extraction_kit,run
feature-id,,,,,,,,,,,,,,,,,,,,,
23B_Day7_11_S38_AZ20_mut,23B_Day7_11,12986.23B.Day7.11,10.0,23,Day7,7/19/17 10:00,7/12/17 0:00,RC,10.0,23B,...,23B,male,23B,A1,A,7/19/17,AZ20,filter,Qiagen UltraClean,1
23B_Day7_12_S384_AZ20_mut,23B_Day7_12,12986.23B.Day7.12,10.0,23,Day7,7/19/17 10:00,7/12/17 0:00,RC,10.0,23B,...,23B,male,23B,A1,A,7/19/17,AZ20,filter,Qiagen UltraClean,1
23B_Day7_13_S1294_AZ20_mut,23B_Day7_13,12986.23B.Day7.13,14.0,23,Day7,7/19/17 10:00,7/12/17 0:00,RC,10.0,23B,...,23B,male,23B,A1,A,7/19/17,AZ20,filter,Qiagen UltraClean,1
23B_Day7_14_S1295_AZ20_mut,23B_Day7_14,12986.23B.Day7.14,14.0,23,Day7,7/19/17 10:00,7/12/17 0:00,RC,10.0,23B,...,23B,male,23B,A1,A,7/19/17,AZ20,filter,Qiagen UltraClean,1
23B_Day7_16_S1297_AZ20_mut,23B_Day7_16,12986.23B.Day7.16,14.0,23,Day7,7/19/17 10:00,7/12/17 0:00,RC,10.0,23B,...,23B,male,23B,A1,A,7/19/17,AZ20,filter,Qiagen UltraClean,1

In [5]:
AZ51.head()

,short-id,qiita_sample_name,cage_id,collection_timepoint,collection_timestamp,date_colonized,diet,host_age,host_age_units,host_subject_id,isolate_number,mouse_dob,mouse_id,sex,tube_id,mouse,dam,sire,date_collected,plate
feature-id,,,,,,,,,,,,,,,,,,,,
41L_Month3_14_S1436_AZ51_mut,41L_Month3_14,12986.41L.Month3.14,41,Month3,12/12/17 10:00,9/13/17,RC,23,weeks,41L,14,7/6/17,41L,male,41L_Month3_14,41L,A1,A,12/12/17,10
43B_Day7_4_S127_AZ51_mut,43B_Day7_4,12986.43B.Day7.4,43,Day7,9/20/17 10:00,9/13/17,RC,11,weeks,43B,4,7/3/17,43B,male,43B_Day7_4,43B,B1,B,9/20/17,6
44R_Month6_13_S1718_AZ51_mut,44R_Month6_13,12986.44R.Month6.13,44,Month6,3/13/18 10:00,9/13/17,RC,36,weeks,44R,13,7/3/17,44R,female,44R_Month6_13,44R,A2,A,3/13/18,19
43R_Month6_21_S646_AZ51_mut,43R_Month6_21,12986.43R.Month6.21,43,Month6,3/13/18 10:00,9/13/17,RC,36,weeks,43R,21,7/3/17,43R,male,43R_Month6_21,43R,B1,B,3/13/18,18
45N_Month6_15_S306_AZ51_mut,45N_Month6_15,12986.45N.Month6.15,45,Month6,3/13/18 10:00,9/13/17,RC,36,weeks,45N,15,7/3/17,45N,female,45N_Month6_15,45N,B1,B,3/13/18,20

In [6]:
both = pd.concat([AZ20, AZ51])

In [8]:
both.shape

(3112, 25)

In [9]:
#both.to_csv('both_feature_metadata.tsv', sep='\t')

In [ ]:
qiime empress tree-plot \
    --i-tree AZ20_date_rooted_tree.qza \
    --m-feature-metadata-file AZ20_feature_metadata.tsv \
    --o-visualization AZ20-tree-viz.qzv
#branch lengths of the tree are REALLY small (< 1.e-5), which triggers an error condition within empress.