In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# AZ20

In [4]:
Nissle_allqc = pd.read_csv('qc_output_files/AZ20_qc_all.csv', index_col=0)
Nissle_allqc.head()

,Marker lineage,# genomes,# markers,# marker sets,0,1,2,3,4,5+,...,LA75,LGA75,ID,status,superkingdom,phylum,class,order,family,genus
23B_Day7_11_S38,Bacteria,5449,104,58,0,104,0,0,0,0,...,11,11,AZ20_assemblies/23B_Day7_11_S38.fasta,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia
23B_Day7_12_S384,Bacteria,5449,104,58,0,104,0,0,0,0,...,1,1,AZ20_assemblies/23B_Day7_12_S384.fasta,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia
23B_Day7_13_S1294,Bacteria,5449,104,58,0,86,18,0,0,0,...,1,1,AZ20_assemblies/23B_Day7_13_S1294.fasta,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia
23B_Day7_14_S1295,Bacteria,5449,104,58,0,101,3,0,0,0,...,2,2,AZ20_assemblies/23B_Day7_14_S1295.fasta,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia
23B_Day7_16_S1297,Bacteria,5449,104,58,0,95,9,0,0,0,...,1,1,AZ20_assemblies/23B_Day7_16_S1297.fasta,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia

In [39]:
Nissle_allqc2 = Nissle_allqc.reset_index()
Nissle_allqc2['sample-id'] = Nissle_allqc2['index'].str.rsplit('_', 1).str[0]
Nissle_allqc2.head()

/var/folders/m1/h11rhh850_s7fjxgxw5wzh_r0000gp/T/ipykernel_51169/218532717.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.rsplit except for the argument 'pat' will be keyword-only.
  Nissle_allqc2['sample-id'] = Nissle_allqc2['index'].str.rsplit('_', 1).str[0]

,index,Marker lineage,# genomes,# markers,# marker sets,0,1,2,3,4,...,LGA75,ID,status,superkingdom,phylum,class,order,family,genus,sample-id
0,23B_Day7_11_S38,Bacteria,5449,104,58,0,104,0,0,0,...,11,AZ20_assemblies/23B_Day7_11_S38.fasta,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,23B_Day7_11
1,23B_Day7_12_S384,Bacteria,5449,104,58,0,104,0,0,0,...,1,AZ20_assemblies/23B_Day7_12_S384.fasta,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,23B_Day7_12
2,23B_Day7_13_S1294,Bacteria,5449,104,58,0,86,18,0,0,...,1,AZ20_assemblies/23B_Day7_13_S1294.fasta,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,23B_Day7_13
3,23B_Day7_14_S1295,Bacteria,5449,104,58,0,101,3,0,0,...,2,AZ20_assemblies/23B_Day7_14_S1295.fasta,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,23B_Day7_14
4,23B_Day7_16_S1297,Bacteria,5449,104,58,0,95,9,0,0,...,1,AZ20_assemblies/23B_Day7_16_S1297.fasta,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,23B_Day7_16

In [40]:
Nissle_allqc2.columns

Index(['index', 'Marker lineage', '# genomes', '# markers', '# marker sets',
       '0', '1', '2', '3', '4', '5+', 'Completeness', 'Contamination',
       'Strain heterogeneity', '# unique markers (of 43)', '# multi-copy',
       'Taxonomy', '# contigs (>= 0 bp)', '# contigs (>= 1000 bp)',
       '# contigs (>= 5000 bp)', '# contigs (>= 10000 bp)',
       '# contigs (>= 25000 bp)', '# contigs (>= 50000 bp)',
       'Total length (>= 0 bp)', 'Total length (>= 1000 bp)',
       'Total length (>= 5000 bp)', 'Total length (>= 10000 bp)',
       'Total length (>= 25000 bp)', 'Total length (>= 50000 bp)', '# contigs',
       'Largest contig', 'Total length', 'Reference length', 'GC (%)',
       'Reference GC (%)', 'N50', 'NG50', 'N75', 'NG75', 'L50', 'LG50', 'L75',
       'LG75', '# misassemblies', '# misassembled contigs',
       'Misassembled contigs length', '# local misassemblies',
       '# scaffold gap ext. mis.', '# scaffold gap loc. mis.',
       '# unaligned mis. contigs', '# unaligned contigs', 'Unaligned length',
       'Genome fraction (%)', 'Duplication ratio', '# N's per 100 kbp',
       '# mismatches per 100 kbp', '# indels per 100 kbp',
       '# genomic features', 'Largest alignment', 'Total aligned length',
       'NA50', 'NGA50', 'NA75', 'NGA75', 'LA50', 'LGA50', 'LA75', 'LGA75',
       'ID', 'status', 'superkingdom', 'phylum', 'class', 'order', 'family',
       'genus', 'sample-id'],
      dtype='object')

In [102]:
Nissle_primqc = Nissle_allqc2[['sample-id', 'Completeness', 'Contamination', 
                              '# contigs', '# contigs (>= 50000 bp)', 'Largest contig', 
                              'Total length', 'Reference length', 'Total aligned length', 
                              'Genome fraction (%)']].copy()
Nissle_primqc.head()

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%)
0,23B_Day7_11,100.0,0.00,89,17,670168,4982223,5064668,4982220,98.370
1,23B_Day7_12,100.0,0.00,3,1,5056481,5065168,5064668,5063920,99.921
2,23B_Day7_13,100.0,13.79,31,1,5054136,5475531,5064668,5471892,99.869
3,23B_Day7_14,100.0,5.17,16,8,2787855,5363807,5064668,5360446,99.880
4,23B_Day7_16,100.0,12.07,17,4,5046245,5554755,5064668,5552302,99.776

In [103]:
Nissle_primqc.shape

(1222, 10)

In [104]:
Nissle_plasmid_counts = pd.read_csv('../plasmids/AZ20_lplasmid_number.txt', sep='\t', header=None)
Nissle_plasmid_counts

                                             0
0      23B_Day7_10_S382/large_plasmids.fasta:3
1      23B_Day7_11_S383/large_plasmids.fasta:3
2      23B_Day7_12_S384/large_plasmids.fasta:3
3     23B_Day7_13_S1294/large_plasmids.fasta:2
4     23B_Day7_14_S1295/large_plasmids.fasta:2
...                                        ...
1470    30N_Day7_6_S924/large_plasmids.fasta:2
1471    30N_Day7_7_S925/large_plasmids.fasta:2
1472    30N_Day7_8_S926/large_plasmids.fasta:2
1473    30N_Day7_9_S927/large_plasmids.fasta:2
1474           AZ20_ref/large_plasmids.fasta:2

[1475 rows x 1 columns]

In [105]:
Nissle_plasmid_counts[['sample', 'other']] = Nissle_plasmid_counts[0].str.split('/', 1, expand=True)
Nissle_plasmid_counts['number_of_plasmids'] = Nissle_plasmid_counts['other'].str.split(':').str[1]
Nissle_plasmid_counts['sample-id'] = Nissle_plasmid_counts['sample'].replace(to_replace='_S[0-9]*', value='', regex=True)
Nissle_plasmid_counts['sample-id'] = Nissle_plasmid_counts['sample-id'].replace(to_replace='_L003', value='', regex=True)
Nissle_plasmid_counts['sample-id'] = Nissle_plasmid_counts['sample-id'].replace(to_replace='_pos', value='p', regex=True)

/var/folders/m1/h11rhh850_s7fjxgxw5wzh_r0000gp/T/ipykernel_51169/2585858066.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  Nissle_plasmid_counts[['sample', 'other']] = Nissle_plasmid_counts[0].str.split('/', 1, expand=True)

In [106]:
for x in range(1,13):
    Nissle_plasmid_counts['sample-id'] = Nissle_plasmid_counts['sample-id'].replace(to_replace='_%s_2' % x, value='_%sx' % x, regex=True)

In [107]:
Nissle_plasmid_counts['sample-id'] = Nissle_plasmid_counts['sample-id'].replace(to_replace='_12_A', value='_12', regex=True)
Nissle_plasmid_counts['sample-id'] = Nissle_plasmid_counts['sample-id'].replace(to_replace='_12_B', value='_13', regex=True)

In [108]:
Nissle_plasmid_counts2 = Nissle_plasmid_counts[['sample-id', 'number_of_plasmids']].copy()
Nissle_plasmid_counts2.head()

     sample-id number_of_plasmids
0  23B_Day7_10                  3
1  23B_Day7_11                  3
2  23B_Day7_12                  3
3  23B_Day7_13                  2
4  23B_Day7_14                  2

In [109]:
Nissle_qc_plas = pd.merge(Nissle_primqc, Nissle_plasmid_counts2, how='outer', 
                          left_on='sample-id', right_on='sample-id')
Nissle_qc_plas

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%),number_of_plasmids
0,23B_Day7_11,100.0,0.00,89.0,17.0,670168.0,4982223.0,5064668.0,4982220.0,98.370,3
1,23B_Day7_12,100.0,0.00,3.0,1.0,5056481.0,5065168.0,5064668.0,5063920.0,99.921,3
2,23B_Day7_13,100.0,13.79,31.0,1.0,5054136.0,5475531.0,5064668.0,5471892.0,99.869,2
3,23B_Day7_14,100.0,5.17,16.0,8.0,2787855.0,5363807.0,5064668.0,5360446.0,99.880,2
4,23B_Day7_16,100.0,12.07,17.0,4.0,5046245.0,5554755.0,5064668.0,5552302.0,99.776,2
...,...,...,...,...,...,...,...,...,...,...,...
1535,29R_Month3_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1536,29R_Month3_17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1537,29R_Month3_19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1538,30N_Day7_10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1539,AZ20_ref,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [162]:
Nissle_removal = pd.read_csv('../AZ20_bad_genomes.txt')
Nissle_bad = Nissle_removal.columns

In [163]:
Nissle_qc_plas = Nissle_qc_plas[~(Nissle_qc_plas['sample-id'].isin(Nissle_bad))].copy()
Nissle_qc_plas.shape

(1508, 12)

In [164]:
Nissle_qc_plas['number_of_plasmids'] = Nissle_qc_plas['number_of_plasmids'].fillna(0)
#makes sure to account for everything that exists, even when it might not have detected plasmids
Nissle_qc_plas['number_of_plasmids'] = Nissle_qc_plas['number_of_plasmids'].astype(int)
#values treated as numbers

In [165]:
Nissle_qc_plas['ideal_contig_num'] = Nissle_qc_plas['number_of_plasmids']+1
Nissle_qc_plas.head()

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%),number_of_plasmids,ideal_contig_num
0,23B_Day7_11,100.0,0.00,89.0,17.0,670168.0,4982223.0,5064668.0,4982220.0,98.370,3,4
1,23B_Day7_12,100.0,0.00,3.0,1.0,5056481.0,5065168.0,5064668.0,5063920.0,99.921,3,4
2,23B_Day7_13,100.0,13.79,31.0,1.0,5054136.0,5475531.0,5064668.0,5471892.0,99.869,2,3
3,23B_Day7_14,100.0,5.17,16.0,8.0,2787855.0,5363807.0,5064668.0,5360446.0,99.880,2,3
4,23B_Day7_16,100.0,12.07,17.0,4.0,5046245.0,5554755.0,5064668.0,5552302.0,99.776,2,3

In [166]:
Nissle_qc_plas.shape

(1508, 12)

In [172]:
Nissle_qc_plas['Genome fraction (%)'].describe()

count    1190.000000
mean       99.671324
std         0.654338
min        91.248000
25%        99.805000
50%        99.921000
75%        99.924000
max        99.990000
Name: Genome fraction (%), dtype: float64

In [167]:
Nissle_ideal = Nissle_qc_plas[Nissle_qc_plas['# contigs']<=Nissle_qc_plas['ideal_contig_num']]
Nissle_ideal.head()

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%),number_of_plasmids,ideal_contig_num
1,23B_Day7_12,100.0,0.0,3.0,1.0,5056481.0,5065168.0,5064668.0,5063920.0,99.921,3,4
6,23B_Day7_18,100.0,0.0,3.0,1.0,5056492.0,5065179.0,5064668.0,5063931.0,99.921,3,4
11,23B_Day7_24,100.0,0.0,3.0,1.0,5056485.0,5065172.0,5064668.0,5063924.0,99.921,2,3
15,23B_Day7_5,100.0,0.0,3.0,1.0,5056480.0,5065167.0,5064668.0,5063919.0,99.921,4,5
16,23B_Day7_6,100.0,0.0,3.0,1.0,5056392.0,5065079.0,5064668.0,5063843.0,99.920,3,4

In [168]:
Nissle_ideal.shape

(618, 12)

In [169]:
Nissle_clean = Nissle_qc_plas[(Nissle_qc_plas['Completeness']>99)&(Nissle_qc_plas['# contigs (>= 50000 bp)']<2)&(Nissle_qc_plas['Largest contig']>4500000)]
Nissle_clean

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%),number_of_plasmids,ideal_contig_num
1,23B_Day7_12,100.0,0.00,3.0,1.0,5056481.0,5065168.0,5064668.0,5063920.0,99.921,3,4
2,23B_Day7_13,100.0,13.79,31.0,1.0,5054136.0,5475531.0,5064668.0,5471892.0,99.869,2,3
6,23B_Day7_18,100.0,0.00,3.0,1.0,5056492.0,5065179.0,5064668.0,5063931.0,99.921,3,4
11,23B_Day7_24,100.0,0.00,3.0,1.0,5056485.0,5065172.0,5064668.0,5063924.0,99.921,2,3
12,23B_Day7_2,100.0,0.00,7.0,1.0,5055457.0,5086402.0,5064668.0,5062181.0,99.883,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1216,30N_Day7_4,100.0,6.80,156.0,1.0,5053813.0,5487836.0,5064668.0,5482894.0,99.946,2,3
1217,30N_Day7_5,100.0,0.00,3.0,1.0,5056489.0,5065176.0,5064668.0,5063928.0,99.921,3,4
1218,30N_Day7_6,100.0,10.34,64.0,1.0,5054787.0,5466256.0,5064668.0,5458725.0,99.818,2,3
1219,30N_Day7_7,100.0,2.35,170.0,1.0,5034469.0,5436994.0,5064668.0,5432914.0,99.623,2,3
1221,30N_Day7_9,100.0,0.00,23.0,1.0,5054533.0,5289914.0,5064668.0,5285524.0,99.823,2,3

In [170]:
Nissle_clean.shape

(765, 12)

In [188]:
Nissle_best = Nissle_qc_plas[(Nissle_qc_plas['Genome fraction (%)']>99)]
#percentage of aligned bases in the reference genome. 
#A base in the reference genome is aligned if there is at least one contig with at least one alignment to this base.
Nissle_best

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%),number_of_plasmids,ideal_contig_num
1,23B_Day7_12,100.0,0.00,3.0,1.0,5056481.0,5065168.0,5064668.0,5063920.0,99.921,3,4
2,23B_Day7_13,100.0,13.79,31.0,1.0,5054136.0,5475531.0,5064668.0,5471892.0,99.869,2,3
3,23B_Day7_14,100.0,5.17,16.0,8.0,2787855.0,5363807.0,5064668.0,5360446.0,99.880,2,3
4,23B_Day7_16,100.0,12.07,17.0,4.0,5046245.0,5554755.0,5064668.0,5552302.0,99.776,2,3
6,23B_Day7_18,100.0,0.00,3.0,1.0,5056492.0,5065179.0,5064668.0,5063931.0,99.921,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...
1217,30N_Day7_5,100.0,0.00,3.0,1.0,5056489.0,5065176.0,5064668.0,5063928.0,99.921,3,4
1218,30N_Day7_6,100.0,10.34,64.0,1.0,5054787.0,5466256.0,5064668.0,5458725.0,99.818,2,3
1219,30N_Day7_7,100.0,2.35,170.0,1.0,5034469.0,5436994.0,5064668.0,5432914.0,99.623,2,3
1220,30N_Day7_8,100.0,1.72,60.0,6.0,2167375.0,5272087.0,5064668.0,5270760.0,99.141,2,3
1221,30N_Day7_9,100.0,0.00,23.0,1.0,5054533.0,5289914.0,5064668.0,5285524.0,99.823,2,3

# AZ51

In [65]:
Native_allqc = pd.read_csv('qc_output_files/AZ51_qc_all.csv', index_col=0)
Native_allqc.head()

,Marker lineage,# genomes,# markers,# marker sets,0,1,2,3,4,5+,...,status,superkingdom,phylum,class,order,family,genus,species,strain,sample_id
41B_Day7_10_S73_L002,Bacteria,5449,104,58,0,104,0,0,0,0,...,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,Escherichia coli,NaN,41B_Day7_10_S73_L002.fasta
41B_Day7_11_S81_L002,Bacteria,5449,104,58,0,104,0,0,0,0,...,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,Escherichia coli,NaN,41B_Day7_11_S81_L002.fasta
41B_Day7_12_S89_L002,Bacteria,5449,104,58,0,104,0,0,0,0,...,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,Escherichia coli,NaN,41B_Day7_12_S89_L002.fasta
41B_Day7_13_S2_L002,Bacteria,5449,104,58,0,104,0,0,0,0,...,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,Escherichia coli,NaN,41B_Day7_13_S2_L002.fasta
41B_Day7_14_S10_L002,Bacteria,5449,104,58,0,104,0,0,0,0,...,found,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,Escherichia coli,NaN,41B_Day7_14_S10_L002.fasta

In [66]:
Native_allqc2 = Native_allqc.reset_index()
Native_allqc2['sample-id'] = Native_allqc2['index'].str.rsplit('_', 1).str[0]
Native_allqc2.head()

/var/folders/m1/h11rhh850_s7fjxgxw5wzh_r0000gp/T/ipykernel_51169/3015971477.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.rsplit except for the argument 'pat' will be keyword-only.
  Native_allqc2['sample-id'] = Native_allqc2['index'].str.rsplit('_', 1).str[0]

,index,Marker lineage,# genomes,# markers,# marker sets,0,1,2,3,4,...,superkingdom,phylum,class,order,family,genus,species,strain,sample_id,sample-id
0,41B_Day7_10_S73_L002,Bacteria,5449,104,58,0,104,0,0,0,...,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,Escherichia coli,NaN,41B_Day7_10_S73_L002.fasta,41B_Day7_10_S73
1,41B_Day7_11_S81_L002,Bacteria,5449,104,58,0,104,0,0,0,...,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,Escherichia coli,NaN,41B_Day7_11_S81_L002.fasta,41B_Day7_11_S81
2,41B_Day7_12_S89_L002,Bacteria,5449,104,58,0,104,0,0,0,...,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,Escherichia coli,NaN,41B_Day7_12_S89_L002.fasta,41B_Day7_12_S89
3,41B_Day7_13_S2_L002,Bacteria,5449,104,58,0,104,0,0,0,...,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,Escherichia coli,NaN,41B_Day7_13_S2_L002.fasta,41B_Day7_13_S2
4,41B_Day7_14_S10_L002,Bacteria,5449,104,58,0,104,0,0,0,...,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia,Escherichia coli,NaN,41B_Day7_14_S10_L002.fasta,41B_Day7_14_S10

In [67]:
Native_allqc2.columns

Index(['index', 'Marker lineage', '# genomes', '# markers', '# marker sets',
       '0', '1', '2', '3', '4', '5+', 'Completeness', 'Contamination',
       'Strain heterogeneity', '# unique markers (of 43)', '# multi-copy',
       'Taxonomy', '# contigs (>= 0 bp)', '# contigs (>= 1000 bp)',
       '# contigs (>= 5000 bp)', '# contigs (>= 10000 bp)',
       '# contigs (>= 25000 bp)', '# contigs (>= 50000 bp)',
       'Total length (>= 0 bp)', 'Total length (>= 1000 bp)',
       'Total length (>= 5000 bp)', 'Total length (>= 10000 bp)',
       'Total length (>= 25000 bp)', 'Total length (>= 50000 bp)', '# contigs',
       'Largest contig', 'Total length', 'Reference length', 'GC (%)',
       'Reference GC (%)', 'N50', 'NG50', 'N75', 'NG75', 'L50', 'LG50', 'L75',
       'LG75', '# misassemblies', '# misassembled contigs',
       'Misassembled contigs length', '# local misassemblies',
       '# scaffold gap ext. mis.', '# scaffold gap loc. mis.',
       '# unaligned mis. contigs', '# unaligned contigs', 'Unaligned length',
       'Genome fraction (%)', 'Duplication ratio', '# N's per 100 kbp',
       '# mismatches per 100 kbp', '# indels per 100 kbp',
       '# genomic features', 'Largest alignment', 'Total aligned length',
       'NA50', 'NGA50', 'NA75', 'NGA75', 'LA50', 'LGA50', 'LA75', 'LGA75',
       'status', 'superkingdom', 'phylum', 'class', 'order', 'family', 'genus',
       'species', 'strain', 'sample_id', 'sample-id'],
      dtype='object')

In [86]:
Native_primqc = Native_allqc2[['sample-id', 'Completeness', 'Contamination', 
                              '# contigs', '# contigs (>= 50000 bp)', 'Largest contig', 
                              'Total length', 'Reference length', 'Total aligned length',
                              'Genome fraction (%)']].copy()
Native_primqc.head()

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%)
0,41B_Day7_10_S73,100.0,0.0,5,1,5011504,5061325,5062596,5061325,99.975
1,41B_Day7_11_S81,100.0,0.0,4,1,5011504,5061756,5062596,5061756,99.983
2,41B_Day7_12_S89,100.0,0.0,39,13,1185431,5011916,5062596,5011916,98.999
3,41B_Day7_13_S2,100.0,0.0,37,12,1185431,5013543,5062596,5013543,99.031
4,41B_Day7_14_S10,100.0,0.0,37,12,1185431,5013542,5062596,5013542,99.031

In [87]:
Native_primqc.shape

(2023, 10)

In [88]:
Native_plasmid_counts = pd.read_csv('../plasmids/AZ51_lplasmid_number.txt', sep='\t', header=None)
Native_plasmid_counts

                                             0
0       41B_Day7_10_S73/large_plasmids.fasta:2
1       41B_Day7_11_S81/large_plasmids.fasta:1
2       41B_Day7_12_S89/large_plasmids.fasta:2
3        41B_Day7_13_S2/large_plasmids.fasta:1
4       41B_Day7_14_S10/large_plasmids.fasta:2
...                                        ...
1964  46R_Month6_6_S717/large_plasmids.fasta:3
1965  46R_Month6_7_S725/large_plasmids.fasta:3
1966  46R_Month6_8_S733/large_plasmids.fasta:3
1967  46R_Month6_9_S741/large_plasmids.fasta:2
1968           AZ51_ref/large_plasmids.fasta:2

[1969 rows x 1 columns]

In [89]:
Native_plasmid_counts[['sample', 'other']] = Native_plasmid_counts[0].str.split('/', 1, expand=True)
Native_plasmid_counts['number_of_plasmids'] = Native_plasmid_counts['other'].str.split(':').str[1]
Native_plasmid_counts['sample-id'] = Native_plasmid_counts['sample'].replace(to_replace='_S[0-9]*', value='', regex=True)
Native_plasmid_counts['sample-id'] = Native_plasmid_counts['sample-id'].replace(to_replace='_L003', value='', regex=True)
Native_plasmid_counts['sample-id'] = Native_plasmid_counts['sample-id'].replace(to_replace='_L002', value='', regex=True)

/var/folders/m1/h11rhh850_s7fjxgxw5wzh_r0000gp/T/ipykernel_51169/134096259.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  Native_plasmid_counts[['sample', 'other']] = Native_plasmid_counts[0].str.split('/', 1, expand=True)

In [90]:
Native_plasmid_counts2 = Native_plasmid_counts[['sample-id', 'number_of_plasmids']].copy()
Native_plasmid_counts2.head()

     sample-id number_of_plasmids
0  41B_Day7_10                  2
1  41B_Day7_11                  1
2  41B_Day7_12                  2
3  41B_Day7_13                  1
4  41B_Day7_14                  2

In [91]:
Native_qc_plas = pd.merge(Native_primqc, Native_plasmid_counts2, how='outer', 
                          left_on='sample-id', right_on='sample-id')
Native_qc_plas

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%),number_of_plasmids
0,41B_Day7_10_S73,100.0,0.0,5.0,1.0,5011504.0,5061325.0,5062596.0,5061325.0,99.975,NaN
1,41B_Day7_11_S81,100.0,0.0,4.0,1.0,5011504.0,5061756.0,5062596.0,5061756.0,99.983,NaN
2,41B_Day7_12_S89,100.0,0.0,39.0,13.0,1185431.0,5011916.0,5062596.0,5011916.0,98.999,NaN
3,41B_Day7_13_S2,100.0,0.0,37.0,12.0,1185431.0,5013543.0,5062596.0,5013543.0,99.031,NaN
4,41B_Day7_14_S10,100.0,0.0,37.0,12.0,1185431.0,5013542.0,5062596.0,5013542.0,99.031,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2658,46R_Day7_7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2659,46R_Day7_8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2660,46R_Day7_9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2661,46R_Month1_13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2662,AZ51_ref,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [173]:
Native_removal = pd.read_csv('../AZ51_bad_genomes.txt')
Native_bad = Native_removal.columns

In [174]:
Native_qc_plas = Native_qc_plas[~(Native_qc_plas['sample-id'].isin(Native_bad))].copy()
Native_qc_plas.shape

(2598, 12)

In [175]:
Native_qc_plas['number_of_plasmids'] = Native_qc_plas['number_of_plasmids'].fillna(0)
#makes sure to account for everything that exists, even when it might not have detected plasmids
Native_qc_plas['number_of_plasmids'] = Native_qc_plas['number_of_plasmids'].astype(int)
#values treated as numbers

In [176]:
Native_qc_plas['ideal_contig_num'] = Native_qc_plas['number_of_plasmids']+1
Native_qc_plas.head()

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%),number_of_plasmids,ideal_contig_num
0,41B_Day7_10_S73,100.0,0.0,5.0,1.0,5011504.0,5061325.0,5062596.0,5061325.0,99.975,0,1
1,41B_Day7_11_S81,100.0,0.0,4.0,1.0,5011504.0,5061756.0,5062596.0,5061756.0,99.983,0,1
2,41B_Day7_12_S89,100.0,0.0,39.0,13.0,1185431.0,5011916.0,5062596.0,5011916.0,98.999,0,1
3,41B_Day7_13_S2,100.0,0.0,37.0,12.0,1185431.0,5013543.0,5062596.0,5013543.0,99.031,0,1
4,41B_Day7_14_S10,100.0,0.0,37.0,12.0,1185431.0,5013542.0,5062596.0,5013542.0,99.031,0,1

In [177]:
Native_qc_plas.shape

(2598, 12)

In [183]:
Native_qc_plas['Genome fraction (%)'].describe()

count    1960.000000
mean       99.510942
std         0.641944
min        92.340000
25%        99.027000
50%        99.865000
75%        99.978000
max       100.000000
Name: Genome fraction (%), dtype: float64

In [178]:
Native_ideal = Native_qc_plas[Native_qc_plas['# contigs']<=Native_qc_plas['ideal_contig_num']]
Native_ideal.head()

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%),number_of_plasmids,ideal_contig_num
27,41B_Month1_13,100.0,0.0,4.0,1.0,5011503.0,5061755.0,5062596.0,5061509.0,99.979,5,6
34,41B_Month1_1,100.0,0.0,5.0,1.0,5011504.0,5061325.0,5062596.0,5061029.0,99.969,12,13
35,41B_Month1_20,100.0,0.0,4.0,1.0,5011504.0,5061756.0,5062596.0,5061756.0,99.983,12,13
40,41B_Month1_2,100.0,0.0,4.0,1.0,5011504.0,5061756.0,5062596.0,5061756.0,99.983,10,11
45,41B_Month1_7,100.0,0.0,7.0,1.0,5011504.0,5061093.0,5062596.0,5061093.0,99.970,11,12

In [179]:
Native_ideal.shape

(180, 12)

In [180]:
Native_clean = Native_qc_plas[(Native_qc_plas['Completeness']>99)&(Native_qc_plas['# contigs (>= 50000 bp)']<2)&(Native_qc_plas['Largest contig']>4500000)]
Native_clean

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%),number_of_plasmids,ideal_contig_num
0,41B_Day7_10_S73,100.0,0.0,5.0,1.0,5011504.0,5061325.0,5062596.0,5061325.0,99.975,0,1
1,41B_Day7_11_S81,100.0,0.0,4.0,1.0,5011504.0,5061756.0,5062596.0,5061756.0,99.983,0,1
5,41B_Day7_15_S18,100.0,0.0,4.0,1.0,5011504.0,5061756.0,5062596.0,5061756.0,99.983,0,1
12,41B_Day7_21_S66,100.0,0.0,4.0,1.0,5011504.0,5061756.0,5062596.0,5061756.0,99.983,0,1
15,41B_Day7_24_S90,100.0,0.0,4.0,1.0,5011505.0,5061757.0,5062596.0,5061757.0,99.983,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2017,46R_Month6_4,100.0,0.0,4.0,1.0,5011481.0,5061733.0,5062596.0,5061437.0,99.978,2,3
2019,46R_Month6_6,100.0,0.0,4.0,1.0,5011484.0,5061736.0,5062596.0,5061736.0,99.983,3,4
2020,46R_Month6_7,100.0,0.0,4.0,1.0,5011496.0,5061748.0,5062596.0,5061748.0,99.983,3,4
2021,46R_Month6_8,100.0,0.0,5.0,1.0,5004179.0,5054000.0,5062596.0,5051670.0,99.824,3,4
2022,46R_Month6_9,100.0,0.0,5.0,1.0,5011385.0,5061206.0,5062596.0,5060910.0,99.967,2,3

In [181]:
Native_clean.shape

(1001, 12)

In [187]:
Native_best = Native_qc_plas[(Native_qc_plas['Genome fraction (%)']>99)]
#percentage of aligned bases in the reference genome. 
#A base in the reference genome is aligned if there is at least one contig with at least one alignment to this base.
Native_best

,sample-id,Completeness,Contamination,# contigs,# contigs (>= 50000 bp),Largest contig,Total length,Reference length,Total aligned length,Genome fraction (%),number_of_plasmids,ideal_contig_num
0,41B_Day7_10_S73,100.0,0.0,5.0,1.0,5011504.0,5061325.0,5062596.0,5061325.0,99.975,0,1
1,41B_Day7_11_S81,100.0,0.0,4.0,1.0,5011504.0,5061756.0,5062596.0,5061756.0,99.983,0,1
3,41B_Day7_13_S2,100.0,0.0,37.0,12.0,1185431.0,5013543.0,5062596.0,5013543.0,99.031,0,1
4,41B_Day7_14_S10,100.0,0.0,37.0,12.0,1185431.0,5013542.0,5062596.0,5013542.0,99.031,0,1
5,41B_Day7_15_S18,100.0,0.0,4.0,1.0,5011504.0,5061756.0,5062596.0,5061756.0,99.983,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2017,46R_Month6_4,100.0,0.0,4.0,1.0,5011481.0,5061733.0,5062596.0,5061437.0,99.978,2,3
2019,46R_Month6_6,100.0,0.0,4.0,1.0,5011484.0,5061736.0,5062596.0,5061736.0,99.983,3,4
2020,46R_Month6_7,100.0,0.0,4.0,1.0,5011496.0,5061748.0,5062596.0,5061748.0,99.983,3,4
2021,46R_Month6_8,100.0,0.0,5.0,1.0,5004179.0,5054000.0,5062596.0,5051670.0,99.824,3,4
2022,46R_Month6_9,100.0,0.0,5.0,1.0,5011385.0,5061206.0,5062596.0,5060910.0,99.967,2,3

# Filter for Coverage

In [208]:
Nissle_sortedbam = pd.read_csv('AZ20_sortedbam_list_full.txt', sep='\t', header=None)
Nissle_sortedbam = pd.DataFrame(Nissle_sortedbam)
Nissle_sortedbam = Nissle_sortedbam.rename(columns={0:'orig_id'})
Nissle_sortedbam

                           orig_id
0      23B_Day7_10_S382_sorted.bam
1      23B_Day7_11_S383_sorted.bam
2      23B_Day7_12_S384_sorted.bam
3     23B_Day7_13_S1294_sorted.bam
4     23B_Day7_14_S1295_sorted.bam
...                            ...
1552    30N_Day7_5_S923_sorted.bam
1553    30N_Day7_6_S924_sorted.bam
1554    30N_Day7_7_S925_sorted.bam
1555    30N_Day7_8_S926_sorted.bam
1556    30N_Day7_9_S927_sorted.bam

[1557 rows x 1 columns]

In [220]:
Nissle_sortedbam['sample-id'] = Nissle_sortedbam['orig_id'].str.rsplit("_", n=2).str[0]
Nissle_sortedbam

                           orig_id    sample-id
0      23B_Day7_10_S382_sorted.bam  23B_Day7_10
1      23B_Day7_11_S383_sorted.bam  23B_Day7_11
2      23B_Day7_12_S384_sorted.bam  23B_Day7_12
3     23B_Day7_13_S1294_sorted.bam  23B_Day7_13
4     23B_Day7_14_S1295_sorted.bam  23B_Day7_14
...                            ...          ...
1552    30N_Day7_5_S923_sorted.bam   30N_Day7_5
1553    30N_Day7_6_S924_sorted.bam   30N_Day7_6
1554    30N_Day7_7_S925_sorted.bam   30N_Day7_7
1555    30N_Day7_8_S926_sorted.bam   30N_Day7_8
1556    30N_Day7_9_S927_sorted.bam   30N_Day7_9

[1557 rows x 2 columns]

In [221]:
Nissle_sortedbam_final = Nissle_sortedbam[~(Nissle_sortedbam['sample-id'].isin(Nissle_bad))].copy()
Nissle_sortedbam_final.shape

(1536, 2)

In [223]:
Nissle_sortedbam_final[['orig_id']].to_csv('AZ20_sortedbam_list_goodones.txt', sep='\t', index=False, header=None)

In [224]:
Native_sortedbam = pd.read_csv('AZ51_sortedbam_list_full.txt', sep='\t', header=None)
Native_sortedbam = pd.DataFrame(Native_sortedbam)
Native_sortedbam = Native_sortedbam.rename(columns={0:'orig_id'})
Native_sortedbam

                                 orig_id
0        41B_Day7_10_S73_L002_sorted.bam
1        41B_Day7_11_S81_L002_sorted.bam
2        41B_Day7_12_S89_L002_sorted.bam
3         41B_Day7_13_S2_L002_sorted.bam
4        41B_Day7_14_S10_L002_sorted.bam
...                                  ...
1963  46R_Month6_5_S1093_L003_sorted.bam
1964  46R_Month6_6_S1101_L003_sorted.bam
1965  46R_Month6_7_S1109_L003_sorted.bam
1966  46R_Month6_8_S1117_L003_sorted.bam
1967  46R_Month6_9_S1125_L003_sorted.bam

[1968 rows x 1 columns]

In [226]:
Native_sortedbam['sample-id'] = Native_sortedbam['orig_id'].str.rsplit("_", n=3).str[0]
Native_sortedbam

                                 orig_id     sample-id
0        41B_Day7_10_S73_L002_sorted.bam   41B_Day7_10
1        41B_Day7_11_S81_L002_sorted.bam   41B_Day7_11
2        41B_Day7_12_S89_L002_sorted.bam   41B_Day7_12
3         41B_Day7_13_S2_L002_sorted.bam   41B_Day7_13
4        41B_Day7_14_S10_L002_sorted.bam   41B_Day7_14
...                                  ...           ...
1963  46R_Month6_5_S1093_L003_sorted.bam  46R_Month6_5
1964  46R_Month6_6_S1101_L003_sorted.bam  46R_Month6_6
1965  46R_Month6_7_S1109_L003_sorted.bam  46R_Month6_7
1966  46R_Month6_8_S1117_L003_sorted.bam  46R_Month6_8
1967  46R_Month6_9_S1125_L003_sorted.bam  46R_Month6_9

[1968 rows x 2 columns]

In [227]:
Native_sortedbam_final = Native_sortedbam[~(Native_sortedbam['sample-id'].isin(Native_bad))].copy()
Native_sortedbam_final.shape

(1913, 2)

In [228]:
Native_sortedbam_final[['orig_id']].to_csv('AZ51_sortedbam_list_goodones.txt', sep='\t', index=False, header=None)